.card{
   height: 10rem;
}
i{
    font-size: 30px;
}
h2{
    margin-right: 600px;
}
h5{
    margin-right: 600px;
}
/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
  }
  
  .service-item:hover {
    background: var(--primary);
  }
  
  .service-item * {
    transition: .5s;
  }
  
  .service-item:hover * {
    color: var(--light) !important;
  }
  i{
    color: #FEA116;
  }
  
  
  .nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
    text-decoration: none;
  }
  
  small{
    color: #FEA116;
  }