<div class="container-xxl pt-5 pb-3">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="section-title  text-center text- fw-normal">ABOUT US</h5>
          <h2 class="mb-5">WHO AM I?</h2>
          <p><small> Jackson Ford</small> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word (and) and the Little Blind Text should turn around and return to its own, safe country.</p>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      </div>
      <div class="row g-4">
          
       
          <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie  "></i>
                                <h5>Graphic </h5>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                              <i class="fa-solid fa-earth-americas" ></i>
                                <h5>Web Design</h5>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus mb-4"></i>
                                <h5>Software</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset  mb-4"></i>
                                <h5>Application</h5>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
       
          
         
          </div>
      </div>
  </div>

       
