<small class="mt-5">MY WORK</small>
<h3 class="mt-5">RECENT WORK</h3>



<ul class="nav nav-pills mb-3 fit-contact mx-auto mt-5" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Graphic Design</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Apps</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Software</button>
    </li>
 
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="container">
            <div class="row g-4">
                <div class="gallery_area">
                    <div class="container">
                    <div class="row">
                    </div>
                    <div class="row grid">
                    <div class="col-xl-4 col-lg-6 grid-item  col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                    <img src="./../../assets/1.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                      <img src="./../../assets/2.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item cat4 col-md-6">
                    <div class="single-gallery">
                    <div class="portfolio-img">
                      <img src="./../../assets/3.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details.html" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-8 col-lg-6 grid-item  col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                      <img src="./../../assets/4.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                      <img src="./../../assets/5.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                   
                    </div>
              
            </div>
        </div>
    </div>
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <div class="container">
            <div class="row g-4">
                <div class="gallery_area">
                    <div class="container">
                    <div class="row">
                    </div>
                    <div class="row grid">
                    <div class="col-xl-4 col-lg-6 grid-item  col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                    <img src="./../../assets/1.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                      <img src="./../../assets/2.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item cat4 col-md-6">
                    <div class="single-gallery">
                    <div class="portfolio-img">
                      <img src="./../../assets/3.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details.html" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-8 col-lg-6 grid-item  col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                      <img src="./../../assets/4.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 grid-item col-md-6">
                    <div class="single-gallery ">
                    <div class="portfolio-img">
                      <img src="./../../assets/5.png.webp" alt>
                    </div>
                    <div class="gallery_hover">
                    <a href="portfolio_details" class="hover_in">
                    <h3>Product Branding</h3>
                    <span>Branding</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                   
                    </div>
              
            </div>
        </div>
    </div>
  </div>
